In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [8]:
import time
from selenium import webdriver

driver = webdriver.Chrome('/Users/jdwhite/Downloads/chromedriver')  # Optional argument, if not specified will search path.
driver.get('http://www.google.com/');
time.sleep(5) # Let the user actually see something!
search_box = driver.find_element_by_name('q')
search_box.send_keys('ChromeDriver')
search_box.submit()
time.sleep(5) # Let the user actually see something!
# driver.quit()

In [10]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False)

In [11]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [17]:
#mars news article summary

html = browser.html 

soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find_all ('div', class_ = 'content_title')
news_p = soup.find_all('div', class_ = 'article_teaser_body')


title_results = news_title[0].text

news_summary =news_p[0].text

print (title_results)
print(news_summary)

Mars Now
Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.

In [19]:
#Mars IMAGE

browser.visit ('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [21]:
browser.click_link_by_partial_text('FULL IMAGE')

In [22]:
browser.click_link_by_partial_text('more info')

In [23]:
html = browser.html 

soup = BeautifulSoup(html, 'html.parser')

image_results = soup.find_all('figure', class_ = 'lede')
relative_image = image_results[0].a['href']
featured_image = 'https://www.jpl.nasa.gov' +relative_image

print(featured_image)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16029_hires.jpg

In [27]:
#mars facts

table = pd.read_html ('https://space-facts.com/mars/')
df = table[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
#mars hemispheres

browser.visit('https://mars.nasa.gov/multimedia/images/?page=0&per_page=25&order=pub_date+desc&search=hemisphere&condition_1=1%3Ais_in_resource_list&category=51')

In [32]:
html = browser.html 

soup = BeautifulSoup(html, 'html.parser')

hemispheres = []

hem_results = soup.find_all('div',class_ = "collapsible results")
list_hem = hemispheres[0].find_all('h3')

for name in list_hem: 
    hemispheres.append(name_text)
    
hemispheres

IndexError: list index out of range